*{
	font-style: italic; 
	text-indent: 1.5em;
	color: white;
	background-color: black;
}
h1{
	color:red;
	letter-spacing: 0.5em;
}
h2{color:brown;}

table{
	border: 5px solid gray;
	border-collapse: collapse;
	background-color: #f11;
}
td:nth-child(2) {background: brown;}
td:nth-child(3) {background: green;}
thead{
	background-color: lightgreen;
	text-transform: UPPERCASE;
}
tbody{
	background-color: pink;
	color: blue;
}
tfoot{
	background-color: blue;
}

ol{list-style-type: upper-roman}
ol ul{list-style-type: lower-roman}
ol ul ul{list-style-type: lower-greek}

img.zdj1 {
		float: left;
		margin-left: 20px;
		margin-right: 20px;
		display: inline;
		width: 250px;
		height: 150px; 
		
}
img.zdj2 {
		float: right;
		margin-left: 20px;
		margin-right: 20px;
		display: inline;
		width: 250px; 
		height: 150px;
}

p:first-letter{
	font-size: 200%;
	color: Orange;
}
a:hover{
	cursor: default;
	color: orange;
	background-color: black;
}